/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header_Nav ***********/

.menu-navigation {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}

.logo img {
    width: 61px;
    height: 19px;
}

.lien-navigation a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 19px;
    color: #0065FC;
}

.lien-navigation a {
    margin-top: 0px;
    margin-right: 50px;
}

/****** Recherche Localisation ***********/

.recherche-hebergements {
    margin: 30px 0px;
}

.recherche-hebergements-titre {
    padding-bottom: 20px;
}

.recherche {
    display: flex;
}

.recherche .fa-location-dot {
    color: black;
    background-color: #D9D9D9;
    width: 50px;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.barre-recherche {
    border: none;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

::placeholder {
    color: black;
}

.bouton-rechercher-1 {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px;
    gap: 10px;
    font-size: large;
    font-weight: bold;
}

.recherche .fa-magnifying-glass {
    display: none;
}

/****** Filtres and Information ***********/

.filtres-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 20px 10px;
}

.filtres {
    background-color: white;
    color: black;
    border: 2px solid #D9D9D9; 
    border-radius: 25px;
    display: flex;
    gap: 10px;
    padding: 10px 19px;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-icon {
    border-radius: 50px;
    border: 2px solid #D9D9D9;
    width: 24px;
    height: 24px;
    line-height: 19px;
    text-align: center;
}

.filtres:hover {
    background-color: #DEEBFF;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 8px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites-presentation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.activites section {
    border-radius: 20px;
    padding: 30px;
}

.activites-title {
    margin-top: 50px;
    margin-bottom: 20px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.activites-cards .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.activites-cards img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


/****** Footer ***********/

.footer {
    background-color: #F2F2F2;
    margin-top: 30px;
}

.footer h4 {
    margin-bottom: 15px;
}

.pied-de-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.menu-pied-de-page {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.menu-pied-de-page li {
    list-style-type: none;
}

ul {
    padding: 0px;
    margin-top: -15px;
}

li {
    margin-bottom: 15px;
    margin-top: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

        .main-container {
            padding: 0px;
        }

    /*** Header ***/

        header .menu-navigation {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .logo img {
            margin: 50px;
            width: 35%;
            height: 45%;
            display: flex;
            align-items: center;
            margin-left: 110px;
        }

        .lien-navigation {
            display: flex;
            width: 100%;
            padding-bottom: 5px;
        }

        .lien-navigation a {
            display: inline-block;
            width: 50%;
            margin-right: 0px;
            text-align: center;
        }

        .lien-navigation a:hover {
            padding-top: 0px;
            padding-bottom: 5px;
            border-top: none;
            border-bottom: 2px solid #0065FC;
            color: #0065FC;
        }

    /*** Recherche ***/
        
        .recherche-hebergements {
            margin: 20px;
            padding: -10px;
        }

        .recherche-hebergements-titre {
            margin-bottom: 15px;
        }

        .recherche-localisation {
            margin-bottom: 15px;
        }

        .bouton-rechercher-1 {
            display: none;
        }

        .recherche .fa-magnifying-glass {
            display: block;
            color: white;
            background-color:#0065FC;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
        }

    /*** Filtres and Information ***/

        .filtres-titre {
            padding-top: 15px;
        }

        .filtres-button {
            display: flex;
            flex-wrap: wrap;
            padding: 0px 0px 15px 0px;
            object-position: center;
        }

        .filtres {
            width: 47%;
            font-size: 11px;
            display: flex;
            justify-content: center;
            font-size: medium;
        }

        .info-icon {
            border-radius: 50px;
            border: 2px solid #D9D9D9;
            width: 24px;
            height: 24px;
            line-height: 21px;
            text-align: center;
        }

    /*** Hebergements and Populaires ***/

        .hebergements-and-populaires {
            display: flex;
            flex-direction: column-reverse;
        }

        .hebergements-and-populaires section {
            border-radius: 0px;
        }

        .hebergements {
            background-color: white;
        }

        .hebergements-cards {
            grid-template-columns: 1fr;
            object-position: center;
        }
        
        .populaires {
            background-color: var(--main-bg-color);
        }

        .populaires-cards {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .populaires-cards a {
            width: 100%;
        }


    /*** Activites ***/
        
        .activites-presentation{
            margin: 30px;
            padding: 10px;
        }

        .activites-cards {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            height: 100%;
        }
        
        .activites-cards img {
            width: 100%;
            height: 121px;
        }
       

    /*** Footer ***/

        .pied-de-page {
            display: grid;
            grid-template-columns: 1fr;
        }

        .menu-pied-de-page {
            padding-bottom: 12px;
        }
}

